h1 {
    margin-top: 0px;
}

.title {
    color: cadetblue;
    text-decoration: underline;
    text-decoration-color: rgb(126, 183, 185);
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 0px;
}

.date {
    color: rgb(233, 197, 106);
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 18px;
}

.desc {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: justify;
}